@inherits LayoutComponentBase
@inject LanguageService LangSvc
@implements IDisposable

@if (LangSvc.IsLoaded)
{
    <header class="site-header">
        <NavMenu />
    </header>

    <main>
        @Body
    </main>

    <footer class="site-footer">
        <div class="container text-center">
            <p class="mb-0">
                &copy; @DateTime.Now.Year Patryk Stępień &mdash; @LangSvc.Get("footer.text")
            </p>
        </div>
    </footer>
}

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            LangSvc.OnChange += StateHasChanged;
            await LangSvc.InitAsync();
            StateHasChanged();
        }
    }

    public void Dispose() => LangSvc.OnChange -= StateHasChanged;
}
